th(v-for="item in #{flag}.fields" v-cloak)
  span  {{item.name}}

  //- 下拉选项
  span.filter.option(v-if="item.options")
    i.fa.fa-sort(onclick="TableHlper.help()")
    ul.dropdown-menu
      li(v-for="op in item.options" v-on:click="#{flag}TableFilter($event, item, op)")
        a(href="#") {{op.name}}
  
  //- 排序
  span.filter.order(v-if="item.order" v-on:click="#{flag}TableOrder($event, item)") 
    i.fa(class="{{item.order == '-' ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc'}}")
