doctype html
html
  head
    include ./top.jade
  body
    include ./header.jade
    include ./bottombar.jade
    
    div.mui-content
      section.content
        block con
        footer
          include ./footer.jade
