extends ../layouts/layout.jade
block con
  ul.mui-table-view.mui-table-view-striped.mui-table-view-condensed
    li.mui-table-view-cell
      a(href="/messages/detail")
        div.mui-table
          div.mui-table-cell.mui-col-xs-10
            h4.mui-ellipsis 北京大红门店订单待处理
            h5 申请人：张三
            p.mui-h6.mui-ellipsis 销售订单，订单号：1608221030583302197，总价：1200元，等待确认。请及时处理...
          div.mui-table-cell.mui-col-xs-2.mui-text-right
            span.mui-h5 09:22
    li.mui-table-view-cell
      a(href="")
        div.mui-table
          div.mui-table-cell.mui-col-xs-10
            h4.mui-ellipsis 北京学院路店进度款
            h5 申请人：李四
            p.mui-h6.mui-ellipsis 销售订单，订单号：1608221030583902834，第一笔进度款5000元已经收到。
          div.mui-table-cell.mui-col-xs-2.mui-text-right
            span.mui-h5 14:14
    li.mui-table-view-cell
      a(href="")
        div.mui-table
          div.mui-table-cell.mui-col-xs-10
            h4.mui-ellipsis 天津北辰店确认收货
            h5 申请人：王五
            p.mui-h6.mui-ellipsis 销售订单，订单号：1608221030581902150，顾客确认收货，请注意收尾款。
          div.mui-table-cell.mui-col-xs-2.mui-text-right
            span.mui-h5 16:20
