extends ../layouts/layout.jade
block con
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/setting/userinfo")
        img.mui-media-object.mui-pull-left.head-img#head-img(src="../images/login.png")
        div.mui-media-body
          | 张三
          p.mui-ellipsis 账号:jz001
  //- ul.mui-table-view.mui-table-view-chevron
  //-   li.mui-table-view-cell
  //-     a.mui-navigate-right 账号与安全
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell
      a.mui-navigate-right 新消息通知
      div.mui-switch.mui-active
        div.mui-switch-handle
    li.mui-table-view-cell
      a.mui-navigate-right 订单统计
      div.mui-switch.mui-active
        div.mui-switch-handle
    li.mui-table-view-cell
      a.mui-navigate-right 顾客统计
      div.mui-switch.mui-active
        div.mui-switch-handle
    li.mui-table-view-cell
      a.mui-navigate-right 供货方统计
      div.mui-switch
        div.mui-switch-handle
    li.mui-table-view-cell
      a.mui-navigate-right 门店统计
      div.mui-switch.mui-active
        div.mui-switch-handle
    li.mui-table-view-cell
      a.mui-navigate-right 销售员统计
      div.mui-switch.mui-active
        div.mui-switch-handle

  ul.mui-table-view
    li.mui-table-view-cell(style="text-align: center;")
      a 退出登录
