extends ../layouts/layout.jade
block con
  ul.mui-table-view
    li.mui-table-view-cell
      a.mui-navigate-right 头像
        span.mui-pull-right.head
          img.head-img.mui-action-preview#head-img1(src="../images/login.png")
            
  ul.mui-table-view
    li.mui-table-view-cell
      a
        | 姓名
        span.mui-pull-right 张三
    li.mui-table-view-cell
      a
        | Dpjia账号
        span.mui-pull-right jz001
  //- ul.mui-table-view
  //-   li.mui-table-view-cell
  //-     a
  //-       | QQ号
  //-       span.mui-pull-right 88888888
  //-   li.mui-table-view-cell
  //-     a
  //-       | 手机号
  //-       span.mui-pull-right 18601234567
  //-   li.mui-table-view-cell
  //-     a
  //-       | 邮箱地址
  //-       span.mui-pull-right hbuilder@dcloud.io
