extends ../layouts/layout.jade
block con
  div.mui-content
    ul.mui-table-view.mui-grid-view.mui-grid-9
      li.mui-table-view-cell.mui-media.mui-col-xs-3.mui-col-sm-3
        a(href="/home/index")
          span.mui-icon.mui-icon-home
          div.mui-media-body 首页
      li.mui-table-view-cell.mui-media.mui-col-xs-3.mui-col-sm-3
        a(href="/messages/list")
          span.mui-icon.mui-icon-email
            span.mui-badge 3
          div.mui-media-body 未读消息
      li.mui-table-view-cell.mui-media.mui-col-xs-3.mui-col-sm-3
        a(href="/dataanalysis/list")
          span.mui-icon.mui-icon-list
          div.mui-media-body 销售统计
      li.mui-table-view-cell.mui-media.mui-col-xs-3.mui-col-sm-3
        a(href="/dataanalysis/list")
          span.mui-icon.mui-icon-personadd
          div.mui-media-body 客户统计
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="#")
      //-     span.mui-icon.mui-icon-search
      //-     div.mui-media-body 搜索
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="#")
      //-     span.mui-icon.mui-icon-gear
      //-     div.mui-media-body 设置
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="#")
      //-     span.mui-icon.mui-icon-info
      //-     div.mui-media-body about
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="#")
      //-     span.mui-icon.mui-icon-chatbubble
      //-     div.mui-media-body Chat
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="#")
      //-     span.mui-icon.mui-icon-phone
      //-     div.mui-media-body Phone
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="#")
      //-     span.mui-icon.mui-icon-location
      //-     div.mui-media-body location
