extends ../layouts/layout.jade
block con
  div.mui-content
    ul.mui-table-view.mui-grid-view.mui-grid-9
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="/home/index")
      //-     span.fa.fa-2x.fa-home
      //-     div.mui-media-body 首页
      li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
        a(href="/messages/list")
          span.mui-icon.fa.fa-2x.fa-envelope-o(style="font-size:2em")
            span.mui-badge 3
          div.mui-media-body 消息
      li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
        a(href="/dataanalysis/customer")
          span.fa.fa-2x.fa-user-plus
          div.mui-media-body 顾客
      li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
        a(href="/dataanalysis/stores")
          span.fa.fa-2x.fa-building
          div.mui-media-body 门店

      li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
        a(href="/dataanalysis/order")
          span.fa.fa-2x.fa-file-text-o
          div.mui-media-body 订单
      li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
        a(href="/dataanalysis/supplier")
          span.fa.fa-2x.fa-truck
          div.mui-media-body 供货方
      li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
        a(href="/dataanalysis/designer")
          span.fa.fa-2x.fa-users
          div.mui-media-body 销售员
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="#")
      //-     span.mui-icon.mui-icon-gear
      //-     div.mui-media-body 更多
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="#")
      //-     span.mui-icon.mui-icon-info
      //-     div.mui-media-body about
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="#")
      //-     span.mui-icon.mui-icon-chatbubble
      //-     div.mui-media-body Chat
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="#")
      //-     span.mui-icon.mui-icon-phone
      //-     div.mui-media-body Phone
      //- li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3
      //-   a(href="#")
      //-     span.mui-icon.mui-icon-location
      //-     div.mui-media-body location
