doctype html
html
  head
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=n0dzf54cjjE9TfBiijtOG5z7&services=&t=20160401164342"></script>
    include ../layouts/top.jade
  body
    div.bootstrap-timepicker(style="width:400px;margin: 10px auto;" )
      div.form-group
        div.input-group
          input.form-control.timepicker(type="text" value="12:00 AM" data-auto="false")
          div.input-group-addon
            i.fa.fa-clock-o

    div.form-group(style="width:400px;margin: 10px auto;")
      div.input-group.date
        div.input-group-addon
          i.fa.fa-calendar
        input.form-control.pull-right.datepicker(type="text")

    div.form-group(style="width:400px;margin: 10px auto;")
      div.input-group.date
        div.input-group-addon
          i.fa.fa-calendar
        input.form-control.pull-right.datepicker(type="text")
    div.form-group
      label Color picker:
      input.form-control.my-colorpicker1(type="text")

    div#map(style="width:400px;height:400px;margin:10px auto;" )


    footer
      include ../layouts/footer.jade
