extends ../layouts/layout.jade
block con
  div.title 华中区
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/designerdetail")
        img.mui-media-object.mui-pull-left(src="../images/designer1.jpg")
        div.mui-media-body
          | 张三
          p.mui-ellipsis 电话：13820080808
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/designerdetail")
        img.mui-media-object.mui-pull-left(src="../images/designer2.png")
        div.mui-media-body
          | 李四
          p.mui-ellipsis 电话：18720667788
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/designerdetail")
        img.mui-media-object.mui-pull-left(src="../images/designer3.jpg")
        div.mui-media-body
          | 王五
          p.mui-ellipsis 电话：13697992088

  div.title 华北区
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/designerdetail")
        img.mui-media-object.mui-pull-left(src="../images/designer4.png")
        div.mui-media-body
          | 李红
          p.mui-ellipsis 电话：13022446688

