extends ../layouts/layout.jade
block con
  div.title 销售订单统计
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/pieweek")
        img.mui-media-object.mui-pull-left(src="../images/pie_icons.png")
        div.mui-media-body
          | 本周统计
          p.mui-ellipsis 销售订单、销售额
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right
        img.mui-media-object.mui-pull-left(src="../images/line_icons.png")
        div.mui-media-body
          | 本月统计
          p.mui-ellipsis 销售订单、销售额
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right
        img.mui-media-object.mui-pull-left(src="../images/char_icons.png")
        div.mui-media-body
          | 本季度统计
          p.mui-ellipsis 销售订单、销售额

  div.title 客户统计
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/pieweek")
        img.mui-media-object.mui-pull-left(src="../images/pie_icons.png")
        div.mui-media-body
          | 本周统计
          p.mui-ellipsis 客户、供货方
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right
        img.mui-media-object.mui-pull-left(src="../images/line_icons.png")
        div.mui-media-body
          | 本月统计
          p.mui-ellipsis 客户、供货方
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right
        img.mui-media-object.mui-pull-left(src="../images/char_icons.png")
        div.mui-media-body
          | 本季度统计
          p.mui-ellipsis 客户、供货方

