extends ../layouts/layout.jade
block con
  div.title 销售订单统计
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/pieweek")
        img.mui-media-object.mui-pull-left(src="../images/pie_icons.png")
        div.mui-media-body
          | 本周-本月度统计
          p.mui-ellipsis 销售订单、销售额

  div.title 客户统计
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/pieweek")
        img.mui-media-object.mui-pull-left(src="../images/char_icons.png")
        div.mui-media-body
          | 本周-本月统计
          p.mui-ellipsis 新、老顾客统计
    div.title 供货方统计
    ul.mui-table-view.mui-table-view-chevron
      li.mui-table-view-cell.mui-media
        a.mui-navigate-right(href="/dataanalysis/pieweek")
          img.mui-media-object.mui-pull-left(src="../images/line_icons.png")
          div.mui-media-body
            | 本周-本月统计
            p.mui-ellipsis 新、老供货方统计

