extends ../layouts/layout.jade
block con
  div.title 本周统计
  ul.mui-table-view
    li.mui-table-view-cell
      a.mui-navigate-right 订单统计
    li.mui-table-view-cell
      a.mui-navigate-right Item 2
    li.mui-table-view-cell
      a.mui-navigate-right Item 3

  div.title 本月统计
  ul.mui-table-view
    li.mui-table-view-cell
      a.mui-navigate-right Item 1
    li.mui-table-view-cell
      a.mui-navigate-right Item 2
    li.mui-table-view-cell
      a.mui-navigate-right Item 3
