extends ../layouts/layout.jade
block con
  div.title 订单统计
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/orderdetail")
        img.mui-media-object.mui-pull-left(src="../images/fur1.png")
        div.mui-media-body
          | 订单号：1608221030583302197
          p.mui-ellipsis 订单金额：3000.00
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/orderdetail")
        img.mui-media-object.mui-pull-left(src="../images/fur2.png")
        div.mui-media-body
          | 订单号：1608221030583302020
          p.mui-ellipsis 订单金额：2099.00
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/orderdetail")
        img.mui-media-object.mui-pull-left(src="../images/fur3.png")
        div.mui-media-body
          | 订单号：1608221030583301616
          p.mui-ellipsis 订单金额：1899.00

