extends ../layouts/layout.jade
block con
  div.mui-content
    div.mui-slider
      div.mui-slider-group
        div.mui-slider-item.mui-slider-item-duplicate
          a(href="#")
            img(src="../images/fur1.png")
            p.mui-slider-title 星原（Sporkle Capital）星原系列XY-Ckct-xg小柜
        div.mui-slider-item
          a(href="#")
            img(src="../images/fur2.png")
            p.mui-slider-title 星原（Sporkle Capital）星原系列XY-Czw-yz椅子睡觉
        div.mui-slider-item
          a(href="#")
            img(src="../images/fur3.png")
            p.mui-slider-title 星原（Sporkle Capital）星原系列XY-Ckct-sfy沙发椅
        div.mui-slider-item
          a(href="#")
            img(src="../images/fur4.png")
            p.mui-slider-title 槟榔家具 荣麟东南亚餐厅实木餐椅 简约现代时尚休闲餐桌椅子M007
      div.mui-slider-indicator.mui-text-right
        div.mui-indicator.mui-active
        div.mui-indicator
        div.mui-indicator
        div.mui-indicator
    div.mui-content-padded
      h4 订单详情：
      p
        label 订单号：
        span 1608221030583302197
      p
        label 订单状态：
        span 待付款
      p
        label 付款时间：
        span 2016-09-01 12:12
      p
        label 订单金额：
        span 3099.00
      p
        label 已付金额：
        span 1000.00
      p
        label 待付金额：
        span 2099.00

      h4 收货信息：
      p
        label 收货人姓名：
        span 张三
      p
        label 收货人地址：
        span 北京市海淀区学院路7号弘彧大厦313
      p
        label 收货人电话：
        span 15820080808

      h4 门店信息：
      p
        label 门店名称：
        span 世纪京洲
      p
        label 经销商名称：
        span 世纪京洲
      p
        label 销售员姓名：
        span jz001
