extends ../layouts/layout.jade
block con
  div.mui-content-padded
    h5 品牌销量比例图
    div.chart#pieChart
    h5 周-月订单走势图
    div.chart#lineChart
    h5 销售员-顾客统计图
    div.chart#barChart
    
    
