extends ../layouts/layout.jade
block con
  div.title 华中区
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/storedetail")
        img.mui-media-object.mui-pull-left(src="../images/store1.jpg")
        div.mui-media-body
          | 重庆万州区中山路店
          p.mui-ellipsis 地址：重庆市万州区中山路55号
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/storedetail")
        img.mui-media-object.mui-pull-left(src="../images/store2.jpg")
        div.mui-media-body
          | 武汉市洪山区光谷店
          p.mui-ellipsis 地址：湖北省武汉市洪山区关山大道108号
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/storedetail")
        img.mui-media-object.mui-pull-left(src="../images/store3.jpg")
        div.mui-media-body
          | 长沙市芙蓉区芙蓉店
          p.mui-ellipsis 地址：湖南省长沙市芙蓉区南湖路12号

  div.title 华北区
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/storedetail")
        img.mui-media-object.mui-pull-left(src="../images/store4.jpg")
        div.mui-media-body
          | 北京市海淀区大红门店
          p.mui-ellipsis 地址：北京市海淀区中南路28号
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/dataanalysis/storedetail")
        img.mui-media-object.mui-pull-left(src="../images/store5.jpg")
        div.mui-media-body
          | 北京市海淀区学院路店
          p.mui-ellipsis 地址：北京市海淀区学院路7号

