extends ../layouts/layout.jade
block con
  div.box#data-list
    div.box-header
      div.toolbox
        
    div.box-body
      table.table.table-bordered.table-striped(v-cloak)
        thead
          tr
            th
              
            th 
            include ../layouts/datath.jade
            th 操作
        tbody.data-list
          tr(v-for="item in apilist")
            td
              {{item.method_class}}
            td {{item.id}}
            td 
              a.fancybox(rel="group" href="{{item.paint_url}}")
                img(src="{{item.paint_url}}")
            td 
              a(href="/housetype?id={{item.id}}") {{item.apt_name}}
            td {{item.aptt_poi_apartment_types.aptt_name}}
            td {{item.apt_area}}
            td 无数据

      div.loading
      div.pagination 

  script.
    var TID = #{query.id}      
