extends ../layouts/layout.jade
block con 
  div.box#data-list
    div.box-header
      div.toolbox
        div.search-box
          button.btn.btn-flat.bg-purple(@click="serach()")
            i.fa.fa-search
            |  搜索
          input#searchinput.form-control.col-xs-4(type='text')
    div.box-body
      table.table.table-bordered.table-striped(v-cloak)
        thead
          tr
            th 序号
            th 服务器地址
            th 
              span.selected-text 请求路由
              span.filter.option
                i.fa.fa-sort(@click="tableselect($event)")
                ul.dropdown-menu
                  li
                    a(href="javascript:;" @click="selectroute(all)")  全部
                  li(v-for="item in routeArr")
                    a(href="javascript:;" @click="selectroute(item)")  {{item}}
            th 
              span.selected-text 错误类型
              span.filter.option
                i.fa.fa-sort(@click="tableselect($event)")
                ul.dropdown-menu
                  li
                    a(href="javascript:;" @click="selecttype(all)")  全部
                  li(v-for="item in errorType")
                    a(href="javascript:;" @click="selecttype(item)")  {{item}}
            th 创建时间
            th 操作

        tbody.data-list
          tr(v-for="item in logs")
            th {{$index+1}}
            td {{item.attributes.server}}
            td {{item.attributes.route}}
            td {{item.attributes.Type}}
            td {{item.createdAt}}
            td 
              a(href="javascript:;" @click="preview(item)") 查看详情
      div.loading
      div.box-tools
        ul#pagination-demo.pagination-sm

      div.modal.fade.previewlog(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        div.modal-dialog(role="document")
          div.modal-content
            div.modal-header
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
              h4.modal-title#myModalLabel 错误日志详情
            div.modal-body 
              div.container-fluid
                div.row.logitembox
                  div.col-md-12
                    label 服务器地址：
                    p 
                      pre {{logItem.attributes.server}}
                  div.col-md-12
                    label 请求路由：
                    p 
                      pre {{logItem.attributes.route}}
                  div.col-md-12
                    label 请求头：
                    p 
                      pre {{strToJson(logItem.attributes.headers)}}
                  div.col-md-12
                    label 错误类型：
                    p.error-type {{logItem.attributes.Type}}
                  div.col-md-12
                    label 数据内容：
                    p
                      pre {{strToJson(logItem.attributes.requestBody)}}
                  div.col-md-12
                    label 错误内容：
                    pre {{{logItem.attributes.Content}}}
                  div.col-md-12
                    label 创建时间：
                    p {{logItem.createdAt}}
                  

